@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-h: 5rem;
}

@theme {
  --spacing-header-h: var(--header-h);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer components {
  .signInBtn {
    @apply gap-5 flex px-5 pb-12 pt-2 items-center justify-center;
    button {
      @apply rounded-full px-3 hover:text-[#FFAE46] text-gray-500;
      * {
        @apply duration-300 cursor-pointer;
      }
    }
  }
  .loginText {
    @apply justify-center items-center flex flex-col pb-10 pt-2 gap-10;
    input {
      @apply w-[90%] border-b-2 text-xl border-gray-400 outline-none pl-2 leading-none focus:border-[#FFAE46] duration-150 ease-in-out;
      caret-color: var(--color-gray-700);
    }
  }
  .line {
    @apply px-2 gap-2 text-gray-500 w-full flex justify-center items-center;
    div {
      @apply h-1 w-full rounded-3xl bg-gray-400;
    }
  }
}

@layer custamize {
  .customize__canvas {
    display: block;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.grybg {
  background-color: #d9d9d9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  background-color: #ffffff;
  mask-image: url("/logo.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}
.nv {
  height: calc(100% - var(--spacing) * 20);
}
#nav-toggle:checked ~ .toggle-button .open-icon {
  display: none;
}
#nav-toggle:checked ~ .toggle-button .close-icon {
  display: block;
}